@import '../../../../assets/sass/styles';

.dashboard-navigation {
  background: #081927;
  padding: 0 30px;
  margin-top: 20px;
  text-align: center;
  @include breakpoint($mq-mobile-small) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  a {
    display: inline-block;
    text-align: center;
    width: 200px;
    padding: 16px 10px;
    color: $clr-line;
    font-weight: 800;
    position: relative;
    @include breakpoint($mq-mobile-medium) {
      padding: 10px 10px;
      width: 160px;
    }

    & + a {
      margin-left: 30px;
      @include breakpoint($mq-mobile-small) {
        margin-left: 0;
        margin-top: 14px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border: 3px solid $clr-line;
      border-right: 0;
      width: calc(50% - 3px);
      transition: all .3s;
      @include breakpoint($mq-mobile-medium) {
        border-width: 2px;
        width: calc(50% - 2px);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border: 3px solid $clr-line;
      border-left: 0;
      width: calc(50% - 3px);
      transition: all .3s;
      @include breakpoint($mq-mobile-medium) {
        border-width: 2px;
        width: calc(50% - 2px);
      }
    }

    span {
      display: inline-block;
      font-size: 18px;
      line-height: 24px;
      transition: all .3s;
      @include breakpoint($mq-mobile-medium) {
        font-size: 14px;
      }
    }

    &.active {
      color: $clr-secondary;

      &:before {
        transform: translateX(-15px);
      }

      &:after {
        transform: translateX(15px);
      }

      span {
        transform: scale(1.2);
      }
    }
  }
}
