<div class="dashboard-search">
    <div class="dashboard-search__input">
            <input class="dashboard-search__field" type="text"
                   [class.dashboard-search__field--filled]="city.value.trim()" [formControl]="city">
        <label class="dashboard-search__label">
            <div class="dashboard-search__label-content">City</div>
        </label>
        <button class="dashboard-search__submit" type="submit">
            <svg-icon-sprite [src]="'loupe'" [classes]="'svg-icon'"></svg-icon-sprite>
        </button>
    </div>
</div>
