$clr-white: #fff;
$clr-black: #000;

$clr-font: #fff;
$clr-line: #638498;

$clr-primary: #e53737;
$clr-secondary: #039be5;

$clr-bg: #081927;

$font-primary: 'Raleway', Arial, sans-serif;

$site-width: 1400px;
$site-width-narrow: 960px;
$side-gutters: 20px;


$mq-desktop-min: 1201px;
$mq-desktop-hd: 1366px;
$mq-desktop-medium: 1680px;
$mq-desktop-fullhd: 1920px;

$mq-tablet: $mq-desktop-min - 1;
$mq-tablet-medium: 1024px;
$mq-tablet-small: 980px;
$mq-tablet-slider: 860px;
$mq-tablet-min: 768px;

$mq-mobile: $mq-tablet-min - 1;
$mq-mobile-medium: 600px;
$mq-mobile-small: 480px;
$mq-mobile-min: 360px;
