<div *ngIf="isFound; else notFound" class="daily-forecast">
  <div class="daily-forecast__main">
    <div class="daily-forecast__img">
        <svg-icon-sprite [src]="dailyForecast.icon" [classes]="'svg-icon'"></svg-icon-sprite>
    </div>
    <div class="daily-forecast__temp">
      {{ dailyForecast.temp | kelvinToCelsius }}
    </div>
  </div>
  <div class="daily-forecast__details">
    <div class="daily-forecast__item daily-forecast__item--main">
      <div class="daily-forecast__descr">
        {{ dailyForecast.description }}
      </div>
    </div>
    <div class="daily-forecast__item">
      <div class="daily-forecast__title">
        <svg-icon-sprite [src]="'wind'" [classes]="'svg-icon'"></svg-icon-sprite>
      </div>
      <div class="daily-forecast__descr">
        {{ dailyForecast.wind }} m/s
      </div>
    </div>
    <div class="daily-forecast__item">
      <div class="daily-forecast__title">
        <svg-icon-sprite [src]="'humidity'" [classes]="'svg-icon'"></svg-icon-sprite>
      </div>
      <div class="daily-forecast__descr">
        {{ dailyForecast.humidity }} %
      </div>
    </div>
    <div class="daily-forecast__item">
      <div class="daily-forecast__title">
        <svg-icon-sprite [src]="'pressure'" [classes]="'svg-icon'"></svg-icon-sprite>
      </div>
      <div class="daily-forecast__descr">
        {{ dailyForecast.pressure }} hpa
      </div>
    </div>
  </div>
</div>

<ng-template #notFound>
  <app-not-found [error]="error"></app-not-found>
</ng-template>
