@import '../../assets/sass/styles';

.dashboard {
  &__header {
    display: flex;
    flex-wrap: wrap;
  }
  &__logo {
    padding-right: 4px;
    &::ng-deep {
      .svg-icon {
        width: 60px;
        height: 60px;
        @include breakpoint($mq-mobile-medium) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &__search {
    flex: 1 1 auto;
  }
  &__navigation {
    margin-top: 20px;
  }
  &__forecast {
    margin-top: 40px;
  }
}





